body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
}


.game {
    /*display:none;*/
    position: relative;
    height: 385px;
    background: url("https://i.stack.imgur.com/WHu9Z.png") repeat-x;
}

.mario {
    height: 100px;
    position: absolute;
    bottom: 60px;
    left: 285px;
}

.coin {
    height: 50px;
    position: absolute;
    bottom: 250px;
    left: 300px;
}

h3 {
    float: right;
    margin: 25px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
}

.row1{
    display:flex;
}

.row2{
    display:flex;
}

h2{
    background-color:yellow;
}